@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <AuthorizeView>
                <Authorized>
                    <span class="top-row-user">
                        <span class="top-row-avatar">@(context.User.Identity?.Name?.Substring(0,1).ToUpper())</span>
                        @context.User.Identity?.Name
                    </span>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content">
            @Body
        </article>

        <footer class="app-footer">
            &copy; 2026 Robin Erik Strandberg
        </footer>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unexpected error occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">✕</span>
</div>
