@page "/"
@using Cyberquiz.UI.Components.Account.Pages
@inject NavigationManager Nav
@rendermode InteractiveServer

<div style="text-align:center; margin-top:100px;">

    <h1>CyberQuiz</h1>

    <h3>Testa. Lär. Säkra framtiden.</h3>

    <div style="margin-top:40px;">
        <button class="btn btn-primary"
                style="margin-right:15px;"
                @onclick="GoToLogin">
            Logga in
        </button>

        <button class="btn btn-outline-primary"
                @onclick="GoToRegister">
            Registrera konto
        </button>
    </div>

</div>

@code {

    void GoToLogin()
    {
        Nav.NavigateTo("/Account/Login");
    }

    void GoToRegister()
    {
        Nav.NavigateTo("/Account/Register");
    }

}
