@page "/"
@using Cyberquiz.UI.Components.Account.Pages
@inject NavigationManager Nav
@rendermode InteractiveServer

<div style="text-align:center; margin-top:100px;">

    <img src="~/image/CyberQuiz.png" alt="CyberQuiz Logo" style="max-width: 800px; height:300px"/>

    <div style="margin-top:40px;">
        <button class="btn btn-primary"
                style="margin-right:15px;"
                @onclick="GoToLogin">
            Logga in
        </button>

        <button class="btn btn-outline-primary"
                @onclick="GoToRegister">
            Registrera konto
        </button>
    </div>

</div>

@code {

    void GoToLogin()
    {
        Nav.NavigateTo("/login");
    }

    void GoToRegister()
    {
        Nav.NavigateTo("/register");
    }

}
